@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
header {
    background-image: url('https://cdn.pixabay.com/photo/2020/04/01/18/01/espresso-4992122_960_720.jpg');
    background-position: center;
    background-size: cover;
    height: 90vh;
    margin-bottom: 10px;
}
header h1 {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.075);
    height: 90vh;
    line-height: 40vh;
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px white;
}
.img {
    background-image: url('https://cdn.pixabay.com/photo/2018/12/10/23/32/cafe-3868124_960_720.jpg');
    background-position: center;
    background-size: cover;
    height: 150px;
}

h3 {
    padding: 20px;
}

.coffee p {
    padding: 20px;
    line-height: 1.5;
}

footer {
    padding: 20px 30px;
    background-color: rgb(95, 68, 7);
    margin-top: 10px;
}

footer p {
    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 1.5;

}

@media (min-width: 768px) {
    main {
        display: flex;
        flex-direction: row; /*domyślny układ poziomy*/
        flex-wrap: wrap;
    }

    .coffee {
        width: 50%;
        padding: 20px;
    }
}

@media (min-width: 1400px) {
    .coffee {
        width: calc(100%/4);
        padding: 20px;
        background-color: rgba(116, 85, 0, 0.175);
    }
}